<log4net>

  <appender name="ESAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logES/" />
    <appendToFile value="true" />
    <param name="DatePattern" value="yyyyMMddHH&quot;.txt&quot;" />
    <rollingStyle value="Composite" />
    <CountDirection value="1" />
    <maximumFileSize value="2MB" />
    <staticLogFileName value="false" />
    <Encoding value="UTF-8" />
    <layout type="CNB.DevFrame.Log2.JsonLayout,CNB.DevFrame.Log2" />
  </appender>

  <logger name="ESLog" additivity="false">
    <level value="ES" />
    <appender-ref ref="ESAppender" />
  </logger>

  <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
    <file value="logInfo/" />
    <param name="AppendToFile" value="true" />
    <param name="DatePattern" value="yyyyMMddHH&quot;.txt&quot;" />
    <!--可选为Size（按文件大小），Date（按日期），Once（每启动一次创建一个文件），Composite（按日期及文件大小），-->
    <rollingStyle value="Composite" />
    <CountDirection value="1" />
    <maximumFileSize value="2MB" />
    <staticLogFileName value="false" />
    <Encoding value="UTF-8" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="INFO" />
      <param name="LevelMax" value="INFO" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger  - %message%newline" />
    </layout>
  </appender>
  <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logError/" />
    <appendToFile value="true" />
    <param name="DatePattern" value="yyyyMMddHH&quot;.txt&quot;" />
    <rollingStyle value="Composite" />
    <CountDirection value="1" />
    <maximumFileSize value="2MB" />
    <staticLogFileName value="false" />
    <Encoding value="UTF-8" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ERROR" />
      <param name="LevelMax" value="ERROR" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logDebug/" />
    <appendToFile value="true" />
    <param name="DatePattern" value="yyyyMMddHH&quot;.txt&quot;" />
    <rollingStyle value="Composite" />
    <CountDirection value="1" />
    <maximumFileSize value="2MB" />
    <staticLogFileName value="false" />
    <Encoding value="UTF-8" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
      <param name="LevelMax" value="DEBUG" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="FatalFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logFatal/" />
    <appendToFile value="true" />
    <param name="DatePattern" value="yyyyMMddHH&quot;.txt&quot;" />
    <rollingStyle value="Composite" />
    <CountDirection value="1" />
    <maximumFileSize value="2MB" />
    <staticLogFileName value="false" />
    <Encoding value="UTF-8" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="FATAL" />
      <param name="LevelMax" value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="WARNFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logWARN/" />
    <appendToFile value="true" />
    <param name="DatePattern" value="yyyyMMddHH&quot;.txt&quot;" />
    <rollingStyle value="Composite" />
    <CountDirection value="1" />
    <maximumFileSize value="2MB" />
    <staticLogFileName value="false" />
    <Encoding value="UTF-8" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="FATAL" />
      <param name="LevelMax" value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %l - %m%n" />
    </layout>
  </appender>
  <root>
    <!--all priority options： OFF、FATAL、ERROR, WARN, INFO, DEBUG, ALL-->
    <level value="DEBUG" />
    <appender-ref ref="ConsoleAppender" />

    <appender-ref ref="InfoFileAppender" />
    <appender-ref ref="ErrorFileAppender" />
    <appender-ref ref="FatalFileAppender" />
    <appender-ref ref="DebugFileAppender" />
    <appender-ref ref="WARNFileAppender" />

    <appender-ref ref="ESAppender" />
  </root>
</log4net>